<!DOCTYPE html>
<meta charset="utf-8">

<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}tracksystem/css/style.css"/>
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100%; min-width:400px; min-height:400px; }
  </style>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBN-X539yOgMPKaBMNAMZS2z8iZx0nD-zo&sensor=false">
  </script>
  <script type="text/javascript">
    function initialize() {
			{% if object_list %}	
				var myLatlng = new google.maps.LatLng(
					{{ object_list.0.latitude }}, 
					{{ object_list.0.longitude }}
					);
			{% else %}
					var myLatlng = new google.maps.LatLng(30.6636, 104.0667);
			{% endif %}
			
			var myOptions = {
        			center: myLatlng,
        			zoom: 15,
        			mapTypeId: google.maps.MapTypeId.ROADMAP
      		};

      		var map = new google.maps.Map(document.getElementById("map_canvas"),
          					myOptions);
			var pin = '{{STATIC_URL}}tracksystem/img/pin.png';
			var circle = '{{STATIC_URL}}tracksystem/img/circle.png';
			var markers = new Array()
			{% if object_list %}	
				var myLatlng = new google.maps.LatLng(
					{{ object_list.0.latitude }}, 
					{{ object_list.0.longitude }}
				);
				var path = [];
				{% for object in object_list %}
         			var point = new google.maps.LatLng({{ object.latitude }}, {{ object.longitude }});
					path.push(point);
						//              		var marker1 = new google.maps.Marker({
						//              			position: point,
						//              			map: map,
						// icon: circle
						//          			});
					{% if not object.get_previous_by_time or object.prediction.name != object.get_previous_by_time.prediction.name %}
							var place = new google.maps.LatLng(
								{{ object.prediction.latitude }}, 
								{{ object.prediction.longitude }}
							);
							var marker2 = new google.maps.Marker({
		             			position: place,
		             			map: map,
								icon: pin,
								title: '<p>Guess you are here!:<br> {{ object.prediction.name }}</p>'
		         			});
					
							var contentString = 'Cannot guess.';
							var infowindow = new google.maps.InfoWindow({
								content: contentString
							});
							google.maps.event.addListener(marker2, 'click', function() {
								infowindow.setContent(this.title);
							    infowindow.open(map, this);
							});

					{% endif %}

						// 				    var pair = [
						// 				        place,
						// point
						// 				    ];
						// 				    var flightPath = new google.maps.Polyline({
						// 				      path: pair,
						// 				      strokeColor: "#000000",
						// 				      strokeOpacity: 1.0,
						// 				      strokeWeight: 2
						// 				    });
						// 				   	flightPath.setMap(map);

				{% endfor %}
				
				var Path = new google.maps.Polyline({
			      path: path,
			      strokeColor: "#ff0000",
			      strokeOpacity: 1.0,
			      strokeWeight: 2
			    });
			   	Path.setMap(map);
			
			{% endif %}

    }    
  </script>
</head>

<body onload="initialize()">
	<nav>
	<h2>Track Map</h2>
		
	<div id='list'>
	{% if object_list %}
		<ul>
		(Newest first)
	    {% for object in object_list %}
	        <li>{{object.time|date:"D. H: i"}}
				({{object.latitude}}, {{object.longitude}}) 
				<a href='delete/{{object.id}}'>
					<img src='{{STATIC_URL}}tracksystem/img/remove.jpeg' alt='Remove' 
					width="13" height="13"/>
				</a></li>
	    {% endfor %}
	    </ul>
		<a href='delete_all'>Delete all</a>
	{% else %}
		<p> Currently no location available. </p>
	{% endif %}
	</div>
	</nav>
	<div id="map_canvas" ></div>
</body>
</html>