<!DOCTYPE html>
<meta charset="utf-8">

<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"/>
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
  </style>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBN-X539yOgMPKaBMNAMZS2z8iZx0nD-zo&sensor=false">
  </script>
  <script type="text/javascript">
    function initialize() {
			{% if object_list %}	
				var myLatlng = new google.maps.LatLng(
					{{ object_list.0.latitude }}, 
					{{ object_list.0.longitude }}
					);
			{% else %}
					var myLatlng = new google.maps.LatLng(30.6636, 104.0667);
			{% endif %}
			
			var myOptions = {
        			center: myLatlng,
        			zoom: 15,
        			mapTypeId: google.maps.MapTypeId.ROADMAP
      		};

      		var map = new google.maps.Map(document.getElementById("map_canvas"),
          					myOptions);
			var pin = '{{STATIC_URL}}pictures/pin.png';
			var circle = '{{STATIC_URL}}pictures/circle.png';
			{% if object_list %}	
				var myLatlng = new google.maps.LatLng(
					{{ object_list.0.latitude }}, 
					{{ object_list.0.longitude }}
				);
				{% for object in object_list %}
         			var point = new google.maps.LatLng({{ object.latitude }}, {{ object.longitude }});
             		var marker1 = new google.maps.Marker({
             			position: point,
             			map: map,
						icon: circle
         			});
					var place = new google.maps.LatLng({{ object.plat }}, {{ object.plon }});
             		var marker2 = new google.maps.Marker({
             			position: place,
             			map: map,
						icon: pin
         			});


				    var flightPlanCoordinates = [
				        place,
						point
				    ];
				    var flightPath = new google.maps.Polyline({
				      path: flightPlanCoordinates,
				      strokeColor: "#000000",
				      strokeOpacity: 1.0,
				      strokeWeight: 2
				    });
				   	flightPath.setMap(map);

				{% endfor %}

			{% endif %}
			
		
    }    
  </script>
</head>

<body onload="initialize()">
	<nav>
	<h2>Track Map</h2>
	
	{% if object_list %}
		<ul>
	    {% for object in object_list %}
	        <li>{{object.time|date:"d/m/y"}}
				({{object.latitude}}, {{object.longitude}})</li>
	    {% endfor %}
	    </ul>
	{% else %}
		<p> Currently no location available. </p>
	{% endif %}
	</nav>
	<div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>