header, nav, footer, article {display:block;} 

body {
    color: #333333;
    font: 15px 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

nav {
	float: left;
	padding: 20px;
}

#list ul li {
    display: list-item;
    list-style: none outside none;
    margin: 1em 0;
	margin-left:-40px;
}